.admin {
  padding: 0 20px;
  display: flex;
  align-items: center;
  height: 65px;
}
.admin .headPhoto {
  background-color: #009688;
  height: 45px;
  width: 45px;
  border-radius: 50%;
}
.admin .adminName {
  padding-left: 20px;
}
